* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a192f;
  font-family: "Fira Code", monospace;
}

.important-text {
  color: #f39d07;
}

.vertical-line {
  border: 1px solid #8892b0;
  height: 200px;
  background-color: #8892b0;
}

details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

details summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem 0.5rem;
  margin: 10px;
  background: #0c1e38;
  color: #ccd6f6;
  font-family: "Inconsolata", monospace;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 3px 2px 1px #8892b0;
          box-shadow: 0 3px 2px 1px #8892b0;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  /* Adds an icon when the <details> is closed... */
}

details summary:hover {
  background: #0a192f;
}

details summary:after {
  content: "+";
  font-size: 2rem;
}

/* ...and switches it when <details> is open */
details[open] > summary::after {
  content: "-";
  font-size: 2rem;
}

/* Removes the ugly default arrow on Chrome */
details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ * {
  -webkit-animation: open 0.5s ease-in-out;
          animation: open 0.5s ease-in-out;
}

@-webkit-keyframes open {
  from {
    opacity: 0;
    margin-top: -20px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes open {
  from {
    opacity: 0;
    margin-top: -20px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.navbar {
  background-color: #0a192f;
  width: 100vw;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 888;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
  font-family: "Inconsolata", monospace;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  font-size: 1.2rem;
}

.navbar ul li {
  list-style-type: none;
  margin: 5px 20px;
  color: #ccd6f6;
  cursor: pointer;
}

.navbar ul li span {
  color: #f39d07;
}

.navbar ul li a {
  text-decoration: none;
  color: #ccd6f6;
}

.navbar ul li a:hover {
  color: #f39d07;
}

.navbar .logo {
  text-decoration: none;
  border: 1px solid #f39d07;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 20px;
  color: #ccd6f6;
}

.navbar .logo:hover {
  background-color: #0c1e38;
}

.resume {
  text-decoration: none;
  border: 1px solid #f39d07;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 25px;
  color: #f39d07;
}

.resume:hover {
  background-color: #0c1e38;
}

.side-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  right: -80vw;
  background-color: #112240;
  width: 80vw;
  height: 100vh;
  z-index: 777;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.side-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
}

.side-navbar ul li {
  list-style-type: none;
  margin: 25px;
  color: #ccd6f6;
  cursor: pointer;
}

.side-navbar ul li span {
  color: #f39d07;
}

.side-navbar ul li a {
  text-decoration: none;
  color: #ccd6f6;
}

.side-navbar ul li a:hover {
  color: #f39d07;
}

.side-navbar.open {
  right: 0;
}

.menu-btn {
  position: relative;
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu-btn:focus {
  outline: none !important;
}

.menu-btn .menu-btn_burger {
  width: 40px;
  height: 4px;
  background: #f39d07;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menu-btn .menu-btn_burger::before,
.menu-btn .menu-btn_burger::after {
  content: "";
  position: absolute;
  height: 4px;
  background: #f39d07;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menu-btn .menu-btn_burger::before {
  width: 30px;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.menu-btn .menu-btn_burger::after {
  width: 50px;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.menu-btn.open .menu-btn_burger {
  position: fixed;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform: translateX(35px, -35px);
          transform: translateX(35px, -35px);
  width: 50px;
}

.menu-btn.open .menu-btn_burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform: translateX(35px, 35px);
          transform: translateX(35px, 35px);
}

/* responsive settings section */
@media screen and (max-width: 800px) {
  .navbar {
    background-color: #112240 !important;
  }
  .navbar ul {
    display: none !important;
  }
  .navbar .menu-btn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=nav.css.map */