$myOrange: #f39d07;
$myGrey1: #ccd6f6; //(204,214,246)
$myGrey2: #8892b0; //(136,146,176)
$backgroundBlue: #0a192f;
$backgroundBlueLight: #0c1e38; //(12,30,56)

@import "scss/fontawesome.scss";
@import "scss/solid.scss";
@import "scss/brands.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $backgroundBlue;
  font-family: "Fira Code", monospace;
}

//intro
.intro {
  z-index: 1;
  position: fixed;
  top: 0;
  font-family: "Anonymous Pro", monospace;
  background-color: $backgroundBlue;
  color: $myGrey1;
  text-align: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.8s ease;
}

.intro-finish {
  opacity: 0;
  pointer-events: none;
}
.intro p {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 1);
  border-width: 7px 0;
  padding: 1.5em 0em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40em;
  transform: translate(-50%, -50%);
}
.intro p span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.7);
  /* Clip Background Image */
  background: url("img/orange-fill.png") repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: fill-animation 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@keyframes fill-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.navbar {
  background-color: $backgroundBlue;
  width: 100vw;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  transition: 1s;
  font-family: "Inconsolata", monospace;
  //font-family: "Anonymous Pro", monospace;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.3rem;

    li {
      list-style-type: none;
      margin: 5px 20px;
      color: $myGrey1;
      cursor: pointer;

      span {
        color: $myOrange;
      }

      a {
        text-decoration: none;
        color: $myGrey1;
        &:hover {
          color: $myOrange;
        }
      }
    }
  }

  .logo {
    text-decoration: none;
    border: 1px solid $myOrange;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 20px;
    color: $myGrey1;
    &:hover {
      background-color: $backgroundBlueLight;
    }
  }

  .resume {
    text-decoration: none;
    border: 1px solid $myOrange;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 20px;
    color: $myOrange;
    &:hover {
      background-color: $backgroundBlueLight;
    }
  }
}

.main {
  display: flex;
  background-color: $backgroundBlue;
  width: 100%;
  min-height: 100vh;
  //border: 2px solid #fff;

  .important-text {
    color: $myOrange;
  }

  .content {
    flex: 10;
    background-color: $backgroundBlue;
    padding-left: 20px;
    // border: 2px solid #fff;

    .hero-section {
      min-height: 100vh;
      padding-top: 100px;
      // border: 2px solid #fff;

      #intro-text {
        color: $myOrange;
        font-size: 1.5rem;
      }

      #name {
        display: inline;
        color: $myGrey1;
        font-size: 4rem;
      }

      #role {
        display: inline;
        color: $myGrey2;
        font-size: 4rem;
      }

      #cursor-name {
        font-size: 3rem;
        background-color: $myGrey1;
        color: $myGrey1;
        margin-left: 2px;
      }

      p {
        width: 70%;
        color: $myGrey2;
        font-size: 1.3rem;
        margin-top: 20px;
        margin-bottom: 60px;
      }

      .contact-me {
        max-height: 100vh;
        text-decoration: none;
        border: 1px solid $myOrange;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px 0;
        color: $myOrange;
        &:hover {
          background-color: $backgroundBlueLight;
        }
      }
    }

    .about {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 2.5s linear;
      //border: 2px solid #fff;

      .details {
        flex: 1;

        h1 {
          color: $myGrey1;
          border-bottom: 1px solid $myGrey2;
          margin: 20px;
          span {
            color: $myOrange;
          }
        }
        p {
          color: $myGrey2;
          font-size: 1rem;
          margin: 20px;
        }
      }

      .profile-pic {
        //border: 2px solid $myOrange;
        padding: 20px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .img {
          // border: 2px solid $myOrange;
          border-radius: 50%;
          width: 350px;
          height: 350px;
          overflow: hidden;
          animation: pulse 3s linear infinite;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
          }
        }

        @keyframes pulse {
          0% {
            box-shadow: 0 0 0 0 rgba(204, 214, 246, 0.7),
              0 0 0 0 rgba(204, 214, 246, 0.7);
          }
          40% {
            box-shadow: 0 0 0 50px rgba(204, 214, 246, 0),
              0 0 0 0 rgba(204, 214, 246, 0.7);
          }
          80% {
            box-shadow: 0 0 0 50px rgba(204, 214, 246, 0),
              0 0 0 30px rgba(204, 214, 246, 0);
          }
          100% {
            box-shadow: 0 0 0 0 rgba(204, 214, 246, 0),
              0 0 0 30px rgba(204, 214, 246, 0);
          }
        }
      }
    }

    .skills {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;

      h1 {
        color: $myGrey1;
        border-bottom: 1px solid $myGrey2;
        margin: 20px;
        span {
          color: $myOrange;
        }
      }
      p {
        color: $myGrey2;
        font-size: 1rem;
        margin: 20px;
      }
      ol {
        margin: 0 40px;
        font-size: 1rem;
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

        li {
          color: $myGrey2;
          list-style: none;
          margin: 0 10px;
          &:before {
            content: "\00BB";
            color: $myOrange;
            margin-right: 10px;
          }
        }
      }
    }

    .projects {
      min-height: 100vh;
      display: flex;
      //align-items: center;
      justify-content: center;
      flex-direction: column;

      h1 {
        color: $myGrey1;
        border-bottom: 1px solid $myGrey2;
        margin: 20px;
        span {
          color: $myOrange;
        }
      }

      h2 {
        text-align: center;
        color: $myGrey1;
        font-size: 3rem;
        margin-top: 40px;
      }
    }

    .contact {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h1 {
        color: $myGrey1;
        //border-bottom: 1px solid $myGrey2;
        margin: 20px;
        span {
          color: $myOrange;
        }
      }

      h2 {
        text-align: center;
        color: $myGrey1;
        font-size: 3rem;
      }
      p {
        text-align: center;
        width: 60%;
        color: $myGrey2;
        font-size: 1rem;
        margin: 20px;
      }
      a {
        text-decoration: none;
        border: 1px solid $myOrange;
        border-radius: 5px;
        padding: 10px 20px;
        margin-top: 30px;
        color: $myOrange;
        &:hover {
          background-color: $backgroundBlueLight;
        }
      }
      #email {
        color: $myGrey1;
        font-family: "Inconsolata", monospace;
        font-size: 1.3rem;
      }
    }

    //end of content
  }

  .links {
    //border-right: 1px solid #fff;
    margin: 20px;
    flex: 1;
    background-color: $backgroundBlue;
    align-items: center;
    font-size: 1.5rem;
    color: $myGrey1;

    .icons {
      height: auto;
      position: fixed;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
        color: $myGrey1;
        margin: 20px;
        transition: 0.2s linear;

        &:hover {
          transform: scale(1.2);
          color: $myOrange;
        }
      }
    }
  }
  .copyright {
    // border-left: 1px solid #fff;
    flex: 1;
    background-color: $backgroundBlue;
    font-family: "Inconsolata", monospace;
    margin: 20px;

    .emails {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // border: 1px solid #fff;
      position: fixed;
      bottom: 0;

      p {
        //border-left: 1px solid $myGrey1;
        margin: 20px;
        color: $myGrey1;
        font-size: 1.3rem;
        writing-mode: vertical-rl;
      }
    }
  }
}

.vertical-line {
  border: 1px solid $myGrey2;
  height: 200px;
  background-color: $myGrey2;
}

details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  //border: 2px solid #349856;

  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.5rem;
    margin: 10px;
    background: $backgroundBlueLight;
    color: $myGrey1;
    font-family: "Inconsolata", monospace;
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border-radius: 0.3rem;
    box-shadow: 0 3px 2px 1px $myGrey2;
    transition: background-color 0.4s;

    &:hover {
      background: $backgroundBlue;
    }

    /* Adds an icon when the <details> is closed... */
    &:after {
      content: "+";
      font-size: 2rem;
    }
  }
}

/* ...and switches it when <details> is open */
details[open] > summary::after {
  content: "-";
  font-size: 2rem;
}

/* Removes the ugly default arrow on Chrome */
details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ * {
  animation: open 0.5s ease-in-out;
}

@keyframes open {
  from {
    opacity: 0;
    margin-top: -20px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}
